<template>
  <button @click="handleClick"
          :disabled="buttonDisabled || loading"
          :autofocus="autofocus"
          :type="nativeType"
          :class="b([type ? type : '',buttonSize ? buttonSize : ''],{'is-disabled': buttonDisabled,'is-loading': loading,'is-plain': plain,'is-round': round,'is-circle': circle})">
    <i :class="iconloadclass" v-if="loading"></i>
    <i :class="icon" v-if="icon && !loading"></i>
    <span v-if="$slots.default"><slot></slot></span>
  </button>
</template>
<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'button',
    props: {
      type: {
        type: String,
        default: 'default'
      },
      size: String,
      icon: {
        type: String,
        default: ''
      },
      nativeType: {
        type: String,
        default: 'button'
      },
      loading: {
        type: Boolean,
        default: false
      },
      disabled: Boolean,
      plain: Boolean,
      autofocus: Boolean,
      round: Boolean,
      circle: Boolean
    },
    data() {
      return {
        iconloadclass: create.Config.namespan + '-icon-loading'
      };
    },
    inject: {
      elForm: {
        default: ''
      },
      elFormItem: {
        default: ''
      }
    },
    computed: {
      _elFormItemSize() {
        return (this.elFormItem || {}).elFormItemSize;
      },
      buttonSize() {
        return this.size || this._elFormItemSize || (this.$ZENGT || {}).size;
      },
      buttonDisabled() {
        return this.disabled || (this.elForm || {}).disabled;
      }
    },

    methods: {
      handleClick(evt) {
        if (!this.loading && !this.disabled) {
          this.$emit('click', evt);
        }
      }
    }
  });
</script>
