@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/hairline_m.scss";


.zt-actionsheet {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	color: $--Color-mian;
	max-height: 90%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $--background-color-base;

	&--withtitle {
		background-color: $--color-white;
	}

	&__item,
	&__cancel {
		height: 50px;
		line-height: 50px;
		font-size: 16px;
		text-align: center;
		background-color: $--color-white;

		&:active {
			background-color: $--border-color-hover;
		}
	}

	&__item--disabled {
		color: $--Color-gray;

		&:active {
			background-color: $--color-white;
		}
	}

	&__subname {
		font-size: 12px;
		color: $--Color-gray;
		margin-left: 5px;
	}

	&__loading {
		display: inline-block;
	}

	&__cancel {
		margin-top: 10px;
	}

	&__header {
		font-size: 16px;
		line-height: 44px;
		text-align: center;

		.van-icon-close {
			top: 0;
			right: 0;
			padding: 0 15px;
			font-size: 18px;
			color: $--Color-gray;
			position: absolute;
			line-height: inherit;
		}
	}
}
