﻿@charset "UTF-8";
@import "common/var";
@import "mixins/_button";
@import "mixins/mixins";
@import "mixins/utils";
@import "mixins/config.scss";

$--button--font-size: $--size-primary !default;

@include b(button) {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: $--button-default-fill;
	border: $--border-base;
	border-color: $--button-default-border;
	color: $--button-default-color;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: none;
	margin: 0;
	transition: .1s;
	font-weight: $--button-font-weight;
	@include utils-user-select(none);

	& + & {
		margin-left: 10px;
	}

	@include button-size($--button-padding-vertical, $--button-padding-horizontal, $--button-font-size, $--button-border-radius);

	&:hover,
	&:focus {
		color: $--color-primary;
		border-color: $--color-primary-light-7;
		background-color: $--color-primary-light-9;
	}

	&:active {
		color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
		border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
		outline: none;
	}

	&::-moz-focus-inner {
		border: 0;
	}

	& [class*="#{$namespace}-icon-"] {
		& + span {
			margin-left: 5px;
		}
	}

	@include when(plain) {
		&:hover,
		&:focus {
			background: $--color-white;
			border-color: $--color-primary;
			color: $--color-primary;
		}

		&:active {
			background: $--color-white;
			border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
			color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
			outline: none;
		}
	}

	@include when(active) {
		color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
		border-color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
	}

	@include when(disabled) {
		&,
		&:hover,
		&:focus {
			color: $--button-disabled-color;
			cursor: not-allowed;
			background-image: none;
			background-color: $--button-disabled-fill;
			border-color: $--button-disabled-border;
		}

		&.el-button--text {
			background-color: transparent;
		}

		&.is-plain {
			&,
			&:hover,
			&:focus {
				background-color: $--color-white;
				border-color: $--button-disabled-border;
				color: $--button-disabled-color;
			}
		}
	}

	@include when(loading) {
		position: relative;
		pointer-events: none;

		&:before {
			pointer-events: none;
			content: '';
			position: absolute;
			left: -1px;
			top: -1px;
			right: -1px;
			bottom: -1px;
			border-radius: inherit;
			background-color: rgba(255,255,255,.35);
		}
	}

	@include when(round) {
		border-radius: 20px;
		padding: 12px 23px;
	}

	@include when(circle) {
		border-radius: 50%;
		padding: $--button-padding-vertical;
	}

	@include m(primary) {
		@include button-variant($--button-primary-color, $--button-primary-fill, $--button-primary-border);
	}

	@include m(success) {
		@include button-variant($--button-success-color, $--button-success-fill, $--button-success-border);
	}

	@include m(warning) {
		@include button-variant($--button-warning-color, $--button-warning-fill, $--button-warning-border);
	}

	@include m(danger) {
		@include button-variant($--button-danger-color, $--button-danger-fill, $--button-danger-border);
	}

	@include m(info) {
		@include button-variant($--button-info-color, $--button-info-fill, $--button-info-border);
	}

	@include m(medium) {
		@include button-size($--button-medium-padding-vertical, $--button-medium-padding-horizontal, $--button-medium-font-size, $--button-medium-border-radius);

		@include when(circle) {
			padding: $--button-medium-padding-vertical;
		}
	}

	@include m(small) {
		@include button-size($--button-small-padding-vertical, $--button-small-padding-horizontal, $--button-small-font-size, $--button-small-border-radius);

		@include when(circle) {
			padding: $--button-small-padding-vertical;
		}
	}

	@include m(mini) {
		@include button-size($--button-mini-padding-vertical, $--button-mini-padding-horizontal, $--button-mini-font-size, $--button-mini-border-radius);

		@include when(circle) {
			padding: $--button-mini-padding-vertical;
		}
	}

	@include m(text) {
		border-color: transparent;
		color: $--color-primary;
		background: transparent;
		padding-left: 0;
		padding-right: 0;

		&:hover,
		&:focus {
			color: mix($--color-white, $--color-primary, $--button-hover-tint-percent);
			border-color: transparent;
			background-color: transparent;
		}

		&:active {
			color: mix($--color-black, $--color-primary, $--button-active-shade-percent);
			border-color: transparent;
			background-color: transparent;
		}

		&.is-disabled,
		&.is-disabled:hover,
		&.is-disabled:focus {
			border-color: transparent;
		}
	}
}

@include b(button-group) {
	@include utils-clearfix;
	display: inline-block;
	vertical-align: middle;

	& > .#{$namespace}-button {
		float: left;
		position: relative;

		& + .#{$namespace}-button {
			margin-left: 0;
		}

		&.is-disabled {
			z-index: 1;
		}

		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:first-child:last-child {
			border-top-right-radius: $--button-border-radius;
			border-bottom-right-radius: $--button-border-radius;
			border-top-left-radius: $--button-border-radius;
			border-bottom-left-radius: $--button-border-radius;

			&.is-round {
				border-radius: 20px;
			}

			&.is-circle {
				border-radius: 50%;
			}
		}

		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		&:not(:last-child) {
			margin-right: -1px;
		}

		&:hover,
		&:focus,
		&:active {
			z-index: 1;
		}

		@include when(active) {
			z-index: 1;
		}
	}

	& > .#{$namespace}-dropdown {
		& > .#{$namespace}-button {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-color: rgba($--color-white, 0.5);
		}
	}

	@each $type in (primary, success, warning, danger, info) {
		.#{$namespace}-button--#{$type} {
			&:first-child {
				border-right-color: rgba($--color-white, 0.5);
			}

			&:last-child {
				border-left-color: rgba($--color-white, 0.5);
			}

			&:not(:first-child):not(:last-child) {
				border-left-color: rgba($--color-white, 0.5);
				border-right-color: rgba($--color-white, 0.5);
			}
		}
	}
}
