@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

@include b(header) {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	padding: $--header-padding;
	background-color: $--header-background-color-base;
	color: $--color-white;
	font-size: $--font-size-base;
	height: $--header-height;
	padding: $--header-padding;
	position: relative;
	text-align: center;
	white-space: nowrap;

	.#{$namespace}-button {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		color: $--Color-mian;
		display: inline-block;
		padding: 0;
		font-size: ($--size-base * 1.6);

		[class^="zt-icon-"], [class*=" zt-icon-"] {
			/*vertical-align: middle;*/
			font-size: ($--size-base * 1.8);
		}


		&:hover,
		&:focus,
		&:active {
			background: inherit;
			border-color: inherit;
			/*color: inherit;*/
			outline: none;
		}

		&::after {
			content: none;
		}
	}



	@include e(button) {
		/*flex-basis: auto;*/
		flex: .4;

		> a {
			color: inherit;
		}

		@include when(left) {
			text-align: left;
		}

		@include when(right) {
			text-align: right;
		}
	}

	@include when(search) {
		background-color: $--color-white;
		color: $--Color-mian;

		@include e(title) {
			padding: 0 ($--size-base * .5);
		}

		@include e(button) {
			flex: inherit;
			flex-basis: auto;
		}
	}

	@include e(title) {
		@include utils-ellipsis;
		font-size: inherit;
		font-weight: normal;
		flex: 1;
	}

	@include when(fixed) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: $--index-normal;
	}
}
