@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";

$--font-base-size: $--size-primary !default;
$--info-font-size: $--font-size-icon !default;
$--info-border-width: ($--size-base * .1) !default;


@include b(info) {
	position: absolute;
	right: 0;
	top: -($--font-size-base / 2);
	color: $--color-white;
	font-size: $--font-size-icon;
	font-weight: $--font-weight-primary;
	font-family: $--size-family;
	text-align: center;
	box-sizing: border-box;
	padding: 0 ($--size-base * .3);
	min-width: $--font-base-size;
	line-height: $--font-base-size - $--info-border-width * 2;
	border: $--info-border-width solid $--color-white;
	border-radius: $--info-font-size;
	background-color: $--color-danger;
	transform: translateX(50%);
	transform-origin: 100%;
}
