@import "mixins/mixins";
@import "common/var";

@include b(message) {
	min-width: 50%;
	width: calc(100% + 1px);
	box-sizing: border-box;
	border-radius: 0;
	border-width: $--border-width-base;
	border-style: $--border-style-base;
	border-color: $--border-color-lighter;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background-color: $--message-background-color;
	transition: opacity 0.3s, transform .4s;
	overflow: hidden;
	padding: $--message-padding;
	display: flex;
	align-items: center;

	@include when(center) {
		justify-content: center;
	}

	@include when(closable) {
		.#{$namespace}-message__content {
			padding-right: 16px;
		}
	}

	p {
		margin: 0;
	}

	@include m(info) {
		.#{$namespace}-message__content {
			color: $--message-info-color;
		}
	}

	@include m(success) {
		background-color: $--color-success-lighter;
		border-color: $--color-success-light;

		.#{$namespace}-message__content {
			color: $--message-success-color;
		}
	}

	@include m(warning) {
		background-color: $--color-warning-lighter;
		border-color: $--color-warning-light;

		.#{$namespace}-message__content {
			color: $--message-warning-color;
		}
	}

	@include m(error) {
		background-color: $--color-danger-lighter;
		border-color: $--color-danger-light;

		.#{$namespace}-message__content {
			color: $--message-danger-color;
		}
	}

	@include e(icon) {
		margin-right: 10px;
	}

	@include e(content) {
		padding: 0;
		font-size: 14px;
		line-height: 1;

		&:focus {
			outline-width: 0;
		}
	}

	@include e(closeBtn) {
		position: absolute;
		top: 15px;
		right: 10px;
		transform: translateY(-50%);
		cursor: pointer;
		color: $--message-close-color;
		font-size: ($--message-close-size * 1.1);
		font-weight: bold;

		&:focus {
			outline-width: 0;
		}

		&:hover {
			color: $--message-close-hover-color;
		}
	}

	& .#{$namespace}-icon-success {
		color: $--message-success-color;
	}

	& .#{$namespace}-icon-error {
		color: $--message-danger-color;
	}

	& .#{$namespace}-icon-info {
		color: $--message-info-color;
	}

	& .#{$namespace}-icon-warning {
		color: $--message-warning-color;
	}
}

.#{$namespace}-message-fade-enter,
.#{$namespace}-message-fade-leave-active {
	opacity: 0;
	transform: translate(-50%, -100%);
}
