@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

$--swipe-indicator: ($--size-base * .6) !default;

@include b(swipe) {
	overflow: hidden;
	position: relative;
	user-select: none;

	@include e(track) {
		height: 100%;
	}

	@include e(indicators) {
		display: flex;
		position: absolute;
		left: 50%;
		bottom: ($--size-base);
		transform: translateX(-50%);

		@include m(vertical) {
			left: ($--size-base);
			top: 50%;
			bottom: auto;
			flex-direction: column;
			transform: translateY(-50%);

			.#{$namespace}-swipe__indicator:not(:last-child) {
				margin-bottom: $--swipe-indicator;
			}
		}
	}

	@include e(indicator) {
		opacity: .3;
		border-radius: 100%;
		background-color: $--Color-mian;
		width: ($--size-base * .6);
		height: $--swipe-indicator;
		transition: opacity .2s;

		&:not(:last-child) {
			margin-right: $--swipe-indicator;
		}

		&--active {
			opacity: 1;
		}
	}
}
