@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

@include b(swipe-cell) {
	overflow: hidden;
	position: relative;

	@include e(left) {
		@include e(right) {
			top: 0;
			height: 100%;
			position: absolute;
		}
	}

	@include e(left) {
		left: 0;
		transform: translate3d(-100%, 0, 0);
	}

	@include e(right) {
		right: 0;
		transform: translate3d(100%, 0, 0);
	}
}