@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

@include b(swipe-item) {
	float: left;
	height: 100%;
	overflow: hidden;

	img {
		max-width:100%;
	}
}
