@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/hairline_m.scss";

$--gray-dark: #969799 !default;
$--tabs-line-height: ($--size-base * 4.4) !default;


@include b(tab) {
	flex: 1;
	cursor: pointer;
	min-width: 0; // hack for flex ellipsis
	padding: 0 ($--size-base * 1);
	font-size: ($--size-base * 1.4);
	position: relative;
	color: $--gray-dark;
	line-height: $--tabs-line-height;
	text-align: center;
	box-sizing: border-box;
	background-color: $--color-white;

	span {
		display: block;
	}

	&--active {
		font-weight: 500;
		color: $--Color-green;
	}

	&--disabled {
		color: $--Color-gray;
	}
}
