@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";

@include b(tabbar) {
	width: 100%;
	height: 100%; 
	display: flex;
	background-color: $--color-white;

	@include m(fixed) {
		left: 0;
		bottom: 0;
		height: ($--footer-height - ($--size-base * .1));
		position: fixed;
	}
}
