﻿<template>
  <cell-group :class="b()" :border="border">
    <slot name="header">
      <cell :class="b('header',{},{'is-border':isval})"
            :icon="icon"
            :label="desc"
            :title="title"
            :value="status"
            @click="onClick">
        <slot name="value" v-if="status">
          <span v-text="status" />
        </slot>
      </cell>
    </slot>
    <div :class="b('content')">
      <slot />
    </div>
    <div v-if="$slots.footer"
         :class="b('footer',{isborder})">
      <slot name="footer" />
    </div>
  </cell-group>
</template>

<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'panel',
    props: {
      icon: String,
      desc: String,
      title: String,
      status: String,
      border: {
        type: Boolean,
        default: true
      },
      footborder: {
        type: Boolean,
        default: true
      },
      isval: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      isborder() {
        const name = create.Config.namespan + '-hairline--top';
        const res = {};
        if (this.footborder) {
          res[name] = true;
        }
        return res;
      }
    },
    methods: {
      onClick() {
        this.$emit('click');
        this.routerLink();
      }
    }
  });
</script>