﻿<template>
  <i v-on="$listeners" :class="[classPrefix, isSrc ? `${classPrefix}--image` : `${classPrefix}-${name}`]" :style="style">
    <slot />
    <img v-if="isSrc"
         :src="name">
    <info :info="info" />
  </i>
</template>

<script>
  import create from '../../src/create/create-basic';
  import Info from '../info/index.vue';
  import isSrc from '../utils/validate/src';
  export default create.Create({
    name: 'icon',
    props: {
      name: String,
      size: String,
      color: String,
      info: [String, Number],
      classPrefix: {
        type: String,
        default: create.Config.namespan + '-icon'
      }
    },
    components: {
      Info
    },
    computed: {
      style() {
        return {
          color: this.color,
          fontSize: this.size
        };
      },
      isSrc() {
        return isSrc(this.name);
      }
    }
  });
</script>