<template>
  <label class="zt-radio"
         :class="[
      border && radioSize ? 'zt-radio--' + radioSize : '',
      { 'is-disabled': isDisabled },
      { 'is-focus': focus },
      { 'is-bordered': border },
      { 'is-checked': model === label },
      { 'is-left': left }
    ]"
         role="radio"
         :aria-checked="model === label"
         :aria-disabled="isDisabled"
         :tabindex="tabIndex"
         @keydown.space.stop.prevent="model = isDisabled ? model : label">
    <span v-if="left" class="zt-radio__label" @keydown.stop>
      <slot></slot>
      <template v-if="!$slots.default">
        {{label}}
      </template>
    </span>
    <span class="zt-radio__input"
          :class="{
        'is-disabled': isDisabled,
        'is-checked': model === label
      }">
      <span class="zt-radio__inner"></span>
      <input class="zt-radio__original"
             :value="label"
             type="radio"
             aria-hidden="true"
             v-model="model"
             @focus="focus = true"
             @blur="focus = false"
             @change="handleChange"
             :name="name"
             :disabled="isDisabled"
             tabindex="-1">
    </span>
    <span v-if="!left" class="zt-radio__label" @keydown.stop>
      <slot></slot>
      <template v-if="!$slots.default">
        {{label}}
      </template>
    </span>
  </label>
</template>
<script>
  import Emitter from '../../../src/mixins/emitter';

  export default {
    name: 'ZtRadio',

    mixins: [Emitter],

    inject: {
      ztForm: {
        default: ''
      },

      ztFormItem: {
        default: ''
      }
    },

    componentName: 'ZtRadio',

    props: {
      left: Boolean,
      value: {},
      label: {},
      disabled: Boolean,
      name: String,
      border: Boolean,
      size: String
    },

    data() {
      return {
        focus: false
      };
    },
    computed: {
      isGroup() {
        let parent = this.$parent;
        while (parent) {
          if (parent.$options.componentName !== 'ZtRadioGroup') {
            parent = parent.$parent;
          } else {
            this._radioGroup = parent;
            return true;
          }
        }
        return false;
      },
      model: {
        get() {
          return this.isGroup ? this._radioGroup.value : this.value;
        },
        set(val) {
          if (this.isGroup) {
            this.dispatch('ZtRadioGroup', 'input', [val]);
          } else {
            this.$emit('input', val);
          }
        }
      },
      _ztFormItemSize() {
        return (this.ztFormItem || {}).ztFormItemSize;
      },
      radioSize() {
        const temRadioSize = this.size || this._ztFormItemSize || (this.$ZENGT || {}).size;
        return this.isGroup
          ? this._radioGroup.radioGroupSize || temRadioSize
          : temRadioSize;
      },
      isDisabled() {
        return this.isGroup
          ? this._radioGroup.disabled || this.disabled || (this.elForm || {}).disabled
          : this.disabled || (this.elForm || {}).disabled;
      },
      tabIndex() {
        return (this.isDisabled || (this.isGroup && this.model !== this.label)) ? -1 : 0;
      }
    },

    methods: {
      handleChange() {
        this.$nextTick(() => {
          this.$emit('change', this.model);
          this.isGroup && this.dispatch('ZtRadioGroup', 'handleChange', this.model);
        });
      }
    }
  };
</script>
