﻿<template>
  <div :class="b({ active })"
       @click="onClick">
    <div :class="b('icon', { dot })">
      <slot name="icon"
            :active="active">
        <icon v-if="icon"
              :name="icon" />
      </slot>
      <info v-if="isinfo" :info="info" />
    </div>
    <div :class="b('text')">
      <slot :active="active" />
    </div>
  </div>
</template>

<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'tabbar-item',
    props: {
      icon: String,
      dot: Boolean,
      info: [String, Number]
    },
    data() {
      return {
        active: false
      };
    },
    beforeCreate() {
      this.$parent.items.push(this);
    },
    destroyed() {
      this.$parent.items.splice(this.$parent.items.indexOf(this), 1);
    },
    methods: {
      onClick(event) {
        this.$parent.onChange(this.$parent.items.indexOf(this));
        this.$emit('click', event);
        this.routerLink();
      }
    },
    computed: {
      isinfo() {
        const val = this.info;
        if (val === '0' || val === 0) {
          return false;
        };
        if (typeof this.info === 'number' && val <= 0) {
          return false;
        };
        return true;
      }
    }
  });
</script>
