﻿<template>
  <footer :class="b({ fixed },{ 'zt-hairline__top-bottom': border })" :style="isheight">
    <slot></slot>
  </footer>
</template>

<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'footer',
    props: {
      height: {
        type: String,
        default: null
      },
      fixed: {
        type: Boolean,
        default: false
      },
      border: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      isheight() {
        let res = {};
        let _this = this;
        if (_this.height !== null && _this.height !== '') {
          res['height'] = _this.height;
        }
        return res;
      }
    }
  });
</script>