<template>
  <a class="zt-badge" @click="onClick" :href="url">
    <slot></slot>
    <transition name="zt-zoom-in-center">
      <sup v-show="!hidden && (content || content === 0 || isDot)"
           v-text="content"
           class="zt-badge__content"
           :class="[
          'zt-badge__content--' + type,
          {
            'is-fixed': $slots.default,
            'is-dot': isDot
          }
        ]">
      </sup>
    </transition>
  </a>
</template>

<script>
  export default {
    name: 'ZtBadge',

    props: {
      value: {},
      url: String,
      max: Number,
      isDot: Boolean,
      hidden: Boolean,
      type: {
        type: String,
        validator(val) {
          return ['primary', 'success', 'warning', 'info', 'danger'].indexOf(val) > -1;
        }
      }
    },

    computed: {
      content() {
        if (this.isDot) return;

        const value = this.value;
        const max = this.max;

        if (typeof value === 'number' && typeof max === 'number') {
          return max < value ? `${max}+` : value;
        }

        return value;
      }
    },
    methods: {
      onClick() {
        let index = 0;
        if (this.$parent && typeof (this.$parent.badges) !== 'undefined') {
          index = this.parent.badges.indexOf(this);
        };
        this.$emit('click', index);
        this.$parent.$emit('change', index);
      }
    }
  };
</script>
