﻿<template>
  <transition :name="transitionName">
    <div v-show="visible"
         :class="b('',{},{className})"
         :style="style"
         @touchmove.prevent.stop
         @click="$emit('click', $event)" />
  </transition>
</template>

<script>
  import create from '../../src/create/create-basic';
  export default create.Create({
    name: 'overlay',
    props: {
      zIndex: Number,
      visible: Boolean,
      className: String,
      customStyle: Object
    },
    data() {
      return {
        transitionName: create.Config.namespan + '-fade'
      };
    },
    computed: {
      style() {
        return {
          zIndex: this.zIndex,
          ...this.customStyle
        };
      }
    }
  });
</script>