<template>
  <div class="b()">
    <slot></slot>
  </div>
</template>
<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'button-group'
  });
</script>
