<template>
  <header class="zt-header" :class="{ 'is-fixed': fixed , 'is-search': search }" :style="isheight">
    <div class="zt-header__button is-left">
      <slot name="left"></slot>
    </div>
    <h1 class="zt-header__title">
      <slot name="title">{{ title }}</slot>
    </h1>
    <div class="zt-header__button is-right">
      <slot name="right"></slot>
    </div>
  </header>
</template>
<script>
  /**
   * zt-header
   * @module components/header
   * @desc 顶部导航
   * @param {boolean} [fixed=false] - 固定顶部
   * @param {string} [title] - 标题
   * @param {slot} [left] - 显示在左侧区域
   * @param {slot} [right] - 显示在右侧区域
   *
   * @example
   * <zt-header title="我是标题" fixed>
   *   <mt-button slot="left" icon="back" @click="handleBack">返回</mt-button>
   *   <mt-button slot="right" icon="more"></mt-button>
   * </zt-header>
   */
  export default {
    name: 'ZtHeader',
    componentName: 'ZtHeader',
    props: {
      search: Boolean,
      fixed: Boolean,
      title: String,
      height: {
        type: String,
        default: null
      }
    },
    computed: {
      isheight() {
        let res = {};
        let _this = this;
        if (_this.height !== null && _this.height !== '') {
          res['height'] = _this.height;
        }
        return res;
      }
    }
  };
</script>