<template>
  <div :class="b('',shadow ? 'is-' + shadow + '-shadow' : 'is-always-shadow')" @click="onClick">
    <div class="zt-card__header" v-if="$slots.header || header">
      <slot name="header">{{ header }}</slot>
    </div>
    <div class="zt-card__body" :style="bodyStyle">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'card',

    props: {
      header: {},
      bodyStyle: {},
      shadow: {
        type: String
      }
    },

    methods: {
      onClick() {
        this.$emit('click');
        this.routerLink();
      }
    }
  });
</script>
