<template>
	<aside :class="b()" :style="{ width }">
		<slot></slot>
	</aside>
</template>
<script>
import create from '../../src/create/create';
export default create.Create({
  name: 'aside',
  props: {
    width: {
      type: String,
      default: '20%'
    }
  }
});
</script>
