@import "var";
@import "../mixins/config.scss";

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
	transition: $--fade-linear-transition;
}

.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
	opacity: 0;
}

.#{$namespace}-fade-in-linear-enter-active,
.#{$namespace}-fade-in-linear-leave-active {
	transition: $--fade-linear-transition;
}

.#{$namespace}-fade-in-linear-enter,
.#{$namespace}-fade-in-linear-leave,
.#{$namespace}-fade-in-linear-leave-active {
	opacity: 0;
}

.#{$namespace}-fade-in-enter-active,
.#{$namespace}-fade-in-leave-active {
	transition: all .3s cubic-bezier(.55,0,.1,1);
}

.#{$namespace}-fade-in-enter,
.#{$namespace}-fade-in-leave-active {
	opacity: 0;
}

.#{$namespace}-zoom-in-center-enter-active,
.#{$namespace}-zoom-in-center-leave-active {
	transition: all .3s cubic-bezier(.55,0,.1,1);
}

.#{$namespace}-zoom-in-center-enter,
.#{$namespace}-zoom-in-center-leave-active {
	opacity: 0;
	transform: scaleX(0);
}

.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
	opacity: 1;
	transform: scaleY(1);
	transition: $--md-fade-transition;
	transform-origin: center top;
}

.#{$namespace}-zoom-in-top-enter,
.#{$namespace}-zoom-in-top-leave-active {
	opacity: 0;
	transform: scaleY(0);
}

.#{$namespace}-zoom-in-bottom-enter-active,
.#{$namespace}-zoom-in-bottom-leave-active {
	opacity: 1;
	transform: scaleY(1);
	transition: $--md-fade-transition;
	transform-origin: center bottom;
}

.#{$namespace}-zoom-in-bottom-enter,
.#{$namespace}-zoom-in-bottom-leave-active {
	opacity: 0;
	transform: scaleY(0);
}

.#{$namespace}-zoom-in-left-enter-active,
.#{$namespace}-zoom-in-left-leave-active {
	opacity: 1;
	transform: scale(1, 1);
	transition: $--md-fade-transition;
	transform-origin: top left;
}

.#{$namespace}-zoom-in-left-enter,
.#{$namespace}-zoom-in-left-leave-active {
	opacity: 0;
	transform: scale(.45, .45);
}

.collapse-transition {
	transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
	transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}

.#{$namespace}-list-enter-active,
.#{$namespace}-list-leave-active {
	transition: all 1s;
}

.#{$namespace}-list-enter, .#{$namespace}-list-leave-active {
	opacity: 0;
	transform: translateY(-30px);
}

.#{$namespace}-opacity-transition {
	transition: opacity .3s cubic-bezier(.55,0,.1,1);
}


@keyframes #{$namespace}-slide-up-enter {
	from {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes #{$namespace}-slide-up-leave {
	to {
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes #{$namespace}-slide-down-enter {
	from {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes #{$namespace}-slide-down-leave {
	to {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes #{$namespace}-slide-left-enter {
	from {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes #{$namespace}-slide-left-leave {
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes #{$namespace}-slide-right-enter {
	from {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes #{$namespace}-slide-right-leave {
	to {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes #{$namespace}-fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes #{$namespace}-fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes #{$namespace}-rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.#{$namespace}-fade {
	&-enter-active {
		animation: .3s #{$namespace}-fade-in;
	}

	&-leave-active {
		animation: .3s #{$namespace}-fade-out;
	}
}

.#{$namespace}-slide-up {
	&-enter-active {
		animation: #{$namespace}-slide-up-enter .3s both ease;
	}

	&-leave-active {
		animation: #{$namespace}-slide-up-leave .3s both ease;
	}
}

.#{$namespace}-slide-down {
	&-enter-active {
		animation: #{$namespace}-slide-down-enter .3s both ease;
	}

	&-leave-active {
		animation: #{$namespace}-slide-down-leave .3s both ease;
	}
}

.#{$namespace}-slide-left {
	&-enter-active {
		animation: #{$namespace}-slide-left-enter .3s both ease;
	}

	&-leave-active {
		animation: #{$namespace}-slide-left-leave .3s both ease;
	}
}

.#{$namespace}-slide-right {
	&-enter-active {
		animation: #{$namespace}-slide-right-enter .3s both ease;
	}

	&-leave-active {
		animation: #{$namespace}-slide-right-leave .3s both ease;
	}
}
